<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<div th:fragment="header" class="p-3 text-bg-dark">
		<div class="container">
	      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
	        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
	          	<img th:src="@{/img/icon.png}" style="width: 50px; height: 50px; margin-right: 5px;">
	          	<span style="margin-right: 35px; font-size: 15pt;">JPA BoardProject</span>
	        </a>
	
	        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
	          <li><a href="/" class="nav-link px-2 text-warning">Home</a></li>
	          <li><a href="/board/boardList" class="nav-link px-2 text-white">게시판</a></li>
	          <li sec:authorize="isAuthenticated()"><a href="/board/boardWrite" class="nav-link px-2 text-white">글 작성</a></li>
	          <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><a href="/admin/userMng" class="nav-link px-2 text-white">회원관리</a></li>
	        </ul>
	
	        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
	          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
	        </form>
	
	        <div class="text-end" sec:authorize="isAnonymous()">
	          <button type="button" class="btn btn-outline-light me-2" onclick="location.href='/user/login'">로그인</button>
	          <button type="button" class="btn btn-warning" onclick="location.href='/user/userType'">회원가입</button>
	        </div>
      	    <div class="text-end" sec:authorize="isAuthenticated()">
	          <button type="button" class="btn btn-danger" onclick="location.href='/user/logout'">로그아웃</button>
	        </div>
	      </div>
	    </div>
	</div>
</html>